disable-self-update-check=true
strict-ssl=false
ignore-engines=true
@hw-titan:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@turboui:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/

@hw-hdt:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/

registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/npm-central-repo/
@hw-seq:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@dm:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@hui:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@ffe:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@wecode:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
@hw-itsc:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/